<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&display=swap" rel="stylesheet">

</head>

<body onload="renderHeader();">
    <!-- <header>
        <nav>
            <div class="row position-relative">
                <div class="col main-logo-section">
                    <img alt="Brand Logo" src="../static/images/logo.png" class="brand-logo" />
                    <ul class="main-logo-list">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="products.html">Products</a></li>
                    </ul>
                </div>
                <div class="header-right-section">
                    <img alt="Cart logo" src="../static/images/cart.svg" class="cart-logo" />
                    <span class="items-number">0 Items</span>
                    <div class="login-section-link">
                        <ul>
                            <li><a href="#">SignIn</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header> -->
    <main>
        <section>
            <div class="row categories-banner-row">
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
            <div class="row categories-banner-row">
                <div class="col">

                </div>
                <div class="col">
                </div>
            </div>
            <div class="row categories-banner-row">
                <div class="col">

                </div>
                <div class="col">

                </div>
            </div>
            <div class="row categories-banner-row">
                <div class="col ">

                </div>
                <div class="col ">

                </div>
            </div>
            <div class="row categories-banner-row">
                <div class="col">

                </div>
                <div class="col">
                </div>
            </div>
            <div class="row categories-banner-row">
                <div class="col">

                </div>
                <div class="col">
                </div>
            </div>
        </section>
    </main>
</body>

</html>