$font-stack:    'Noto Sans TC', sans-serif;
$primary-font-size: 2em;
$header-box-shadow: 0px 2px 5px 2px #cecece7a;
$breakpoints: (
  'medium': (min-width: 668px),
  'large': (min-width: 992px),
  'huge': (min-width: 1312px),
);

/* Colors */

$black: #2c2b2b;
$black-1 : #1d2124;
$black-2 : rgb(0,0,0);
$black-3 : rgba(0,0,0,0.4);
$black-4 : rgba(0,0,0,0.2);
$red:#d00255;
$blue : #38d5e5;
$white : #fff;
$grey: #c0c0c0;
$grey-1 : #bababa;
$grey-2 : #e6e6e6;
$grey-3 : #d8d8d8;
$grey-4 : #f8f8f8;
$grey-5 : #e8e8e8;
$grey-6 : #eeeeee;
$grey-7: #efefef;
