@import '_variable';
@import '_mixins';
@import '_utils';

/** Previous Next Placeholder**/

%prev_next_placeholder {
  @include setDimension ( $top: 50%,$width: auto);
  cursor: pointer;
  position: absolute;
  padding: 0.625em;
  color: $white;
  background-color: $black-4;
  font-size: 50%;
  transition: 0.6s ease;
  border-radius: 0 0.2em 0.2em 0;
  user-select: none;
}

/* Slideshow container */
.crousel-container {
  max-width: 100%;
  position: relative;
  background-color: $white;
  margin: auto;
  .slides {
    display: none;
    /* Fading animation */
      &.fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      img {vertical-align: middle;} 
  }
  .prev {
    @extend %prev_next_placeholder;
  }
  .next {
    @extend %prev_next_placeholder;
    right: 0;
    border-radius: 0.2em 0 0 0.2em;
  }
  .crousel_dots {
    position: absolute;
    text-align: center;
    @include setDimension ($width: 100% ,$bottom: 0.3em);
    text-align:center;
    &::after {
      @extend %box_curve_shadow;
      transform: translate(-60%, 0%);
      width: 100%;
    }
    .dot {
      @include setDimension ($height: 0.5em ,$width: 0.5em);
      margin: 0 2px;
      background-color: $grey-1;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  }
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}