@import '_variable';
@import '_reset';
@import '_input';
@import '_mixins';
@import '_utils';

.categories-banner-row {
    max-width: 100%;
    text-align: center;
    position: relative;
    background-color: $white;
    padding: 1em 0em;
    margin: 0.5em auto;
    @include flexbox($alignItems: center , $justifyContent: space-around);
    @include respond-to('medium') { 
        max-width: 80%;
        font-size: 125%;
    }
    .btn {
        margin-top: 1em;
    }
    p {
        margin-top: 0.5em;
        font-size: 100%;
    }
    &:first-child {
        margin-top: 1em;
    }
    &::after {
        @extend %box_curve_shadow;
        @include setDimension( $top: 15%, $left: 0em, $width: 95%);
        @include respond-to('medium') { 
            @include setDimension(  $top: 47%, $left: 1.25em, $width: 94%);
        }
    }
}

.categories-img {
    width: 12em;
    height: 12em;
    object-fit: scale-down;
}

.footer {
    background-color: $grey-7;
    display: flex;
    padding: 1em;
    text-align: center;
    justify-content: center;
}